.bundle
.gems
brakeman.html
*.sqlite3
*.log
tmp
jhw.*
node_modules
database.yml
tmp/**/*
.DS_Store
.sass-cache
.jhw-cache/**/*
*~
vendor/cache
\#*#
.#*
*.swp
*.*.swp
.pryrc
tags
npm-debug.log
*.pyc
.make/*
.retry
